<h1>About Us</h1>

<p>Welcome to the Jungle! We are passionate about plants and helping you to create a lush oasis be it in your home, your office, your backyard -- anywhere!</p>
<p>We have a variety of plants available for all levels of green thumbs and aesthetic tastes; take a look, we know you will find something you will love!</p>